<footer class="site-footer">

    <div class="container">


        <a
                href="{{ROOT}}"
                class="footer-brand footer-brand-link">

            SaMaWi

        </a>


        <div class="footer-sentence">

            Was daraus wird, entsteht unterwegs.

        </div>


        <nav
                class="footer-nav"
                aria-label="Fußnavigation">

            <a
                    href="{{ROOT}}"
                    class="home-link"
                    aria-label="Startseite"
                    title="Startseite">
                ⌂
            </a>

            <a href="{{ROOT}}#heute">
                Heute
            </a>

            <a href="{{ROOT}}pages/heute/">
                Kalender
            </a>

            <a href="{{ROOT}}pages/gedanken/">
                Gedanken
            </a>

            <a href="{{ROOT}}pages/unterwegs/">
                Unterwegs
            </a>

            <a href="{{ROOT}}pages/begegnungen/">
                Begegnungen
            </a>

            <a href="{{ROOT}}pages/entstanden/">
                Entstanden
            </a>

        </nav>


        <div class="footer-contact">

            <a href="mailto:wasist@samawi.eu.org">

                wasist@samawi.eu.org

            </a>

        </div>


        <div class="footer-legal">

            <span>
                © 2026 SaMaWi
            </span>


            <a href="{{ROOT}}pages/impressum/">

                Impressum

            </a>


            <a href="{{ROOT}}pages/datenschutz/">

                Datenschutz

            </a>

        </div>

    </div>

</footer>